<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%=title%> | Knowledge Exchange Platform</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/user-nav.css">
    <link rel="stylesheet" href="/css/categories.css">


    <script src="https://kit.fontawesome.com/70cfb543a2.js" crossorigin="anonymous" async></script>
    <script src="/js/jquery-3.5.1.min.js" defer></script>
    <script src="/js/popper.min.js" defer></script>
    <script src="/js/bootstrap.min.js" defer></script>

</head>
<body>

<%- include('../partials/navbar') %>

<%- body %>

</body>
</html>
