<% layout ('layouts/all-users-boilerplate') %>


<div id="users-container" class="container mt-3">
    <div id="userDir" class="row ml-3 mb-5">
        <a href="/">Home</a>
        <span>&nbsp/&nbsp</span>
        <a href="/user/all-users">Users</a>
    </div>
    <!--    TOPICS -->
    <div class="row user-row">
    <% for (let user of users) { %>
            <div class="col-2 text-center user mb-4">
                <a href="/user/profile/<%=user._id%>">
                    <img class="user-img" src="/user/<%=user._id%>/profilePic" alt="user image">
                </a>
                <div class="mt-2">
                    <a href="/user/profile/<%=user._id%>"><%=user.username%></a>
                </div>
            </div>
    <% } %>
    </div>

</div>


