<% layout ('layouts/boilerplate') %>

<!--Categories menu start-->
<div id="cat-container" class="container mt-3">
    <div id="catDir" class="row ml-3 mb-5">
        <a href="/">Home</a>
        <span>&nbsp/&nbsp</span>
        <a href="/categories">Categories</a>
    </div>
    <% if (error && error.length) { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%= error %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% } %>
    <% if (success && success.length) { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= success %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% } %>
    <!--    Categories section-->
    <!--    Announcements-->
    <% for (let category of categories) { %>
        <div class="row ml-3 mb-3 category">
            <div class="d-none d-sm-inline col-sm-2 col-lg-1"><a href="/categories/<%=category._id%>">
                    <i class="<%=category.icon%> catIcon"></i></a>
            </div>
            <div class="col-sm-6 col-lg-9">
                <div class="row">
                    <div class="col-12"><a href="/categories/<%=category._id%>"><%=category.title%></a></div>
                    <div class="col-12 catDescription"><%=category.description%></div>
                </div>
            </div>
            <div class="d-none d-sm-inline col-sm-2 col-lg-1 text-center">
                <div class="row">
                    <div class="col-12"><%=category.topics.length%></div>
                    <div class="col-12 topicText">TOPICS</div>
                </div>
            </div>
            <div class="d-none d-sm-inline col-sm-2 col-lg-1 text-center">
                <div class="row">
                    <div class="col-12"><%=category.postsNum%></div>
                    <div class="col-12 postText">POSTS</div>
                </div>
            </div>
        </div>
    <% } %>
</div>


