<% layout ('layouts/login-boilerplate') %>


<div class="container my-5 text-center" id="loginContainer">
    <% if (error && error.length) { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert" id="errorAlert">
            <%= error %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% } %>
    <img src="/images/aw_logo.png" alt="Ageing at work logo" id="loginLogo">

    <form action="/user/login" class="mt-5" method="post" id="loginForm">
        <div class="input-group my-2">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" class="form-control"
                  name="email" placeholder="Email" aria-label="Username" required>
        </div>
        <div class="input-group my-2">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-lock"></i></span>
            </div>
            <input type="password" class="form-control"
                   name="password" placeholder="Password" aria-label="Password" required>
        </div>
        <div class="g-recaptcha" data-sitekey="6LejnaIaAAAAALMaxkpfNCwFYVmZpTmHwuyxfnYP"></div>
        <button type="submit" class="btn btn-primary mt-3 w-100" id="loginBtn">
            Login
        </button>
        <div class="col align-items-start mt-3">
            <a href="/user/resetPassword" class="row" id="forgotPass">Forgot your password? Click here.</a>
        </div>

    </form>
</div>
