<% layout ('layouts/profile-boilerplate') %>

<div class="container my-5 text-center" id="profileContainer">

    <% if (error && error.length) { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%= error %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% } %>
    <% if (success && success.length) { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= success %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% } %>


    <img src="/user/<%=currentUser._id%>/profilePic" alt="Profile photo" id="profilePic">


    <div class="mt-3">
    <h2 class="text-muted"><%=currentUser.username%></h2>
    <div class="row">
        <div class="col-12 display-4"><%=currentUser.postsNum%></div>
        <div class="col-12">POSTS</div>
    </div>
    <div class="row mt-4">
        <div class="col"><a href="" data-toggle="modal" data-target="#exampleModalCenter">Change profile photo</a></div>
        <div class="col"><a href="/user/changePassword">Change password</a></div>
        <div class="col"><a href="">Change username</a></div>
    </div>
    <div class="row text-center">
        <div class="col">
            <button type="submit" class="btn btn-danger mt-4" data-toggle="modal" data-target="#deleteModal">
                Delete account
            </button>
        </div>
    </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Are you sure you want to delete you account?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form action="/user/<%=currentUser._id%>?_method=DELETE" method="post">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form action="/user/profile/imageUpload" method="post" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Upload image</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Upload</span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" name="imagePath" class="custom-file-input"
                                           id="imagePath" accept="image/*" required>
                                    <label class="custom-file-label" for="image">Choose file</label>
                                </div>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Upload image</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
