<% layout ('layouts/boilerplate-topics') %>


<div id="topics-container" class="container mt-3">
    <div id="topicDir" class="row ml-3 mb-5">
        <a href="/">Home</a>
        <span>&nbsp/&nbsp</span>
        <a href="/categories">Categories</a>
        <span>&nbsp/&nbsp</span>
        <a href="/categories/<%=categoryId%>"><%=title%></a>
        <% if (currentUser) { %>
        <button id="newTopicBtn" class="btn ml-auto mr-4 text-white">New topic</button>
        <% } %>
    </div>
    <!--    TOPICS-->
    <% for (let topic of topics) { %>
    <div class="row ml-3 mb-3 topic">
        <div class="d-none d-sm-inline col-sm-2 col-lg-1">
            <a href="#">
                <img class="topic-img" src="/images/<%=topic.author.profilePic%>" alt="topic image">
            </a>
        </div>
        <div class="col-sm-6 col-lg-9">
            <div class="row">
                <div class="col-12"><a href="/categories/<%=categoryId%>/<%=topic._id%>"><%=topic.title%></a>
                    <% if (currentUser && topic.author.equals(currentUser._id)) { %>
                    <div id="<%=topic._id%>" name="<%=topic.title%>" class="btn btn-info ml-3 editTopic">
                        Edit
                    </div>
                    <% } %>
                </div>
                <div class="col-12 topicDes text-muted">
                        <span class="date">
                            <%= new Intl.DateTimeFormat('en-GB', { dateStyle: 'full'}).format(topic.date)%>
                        </span>
                    <span>&nbsp•&nbsp</span>
                    <span class="username"><a href="#"><%=topic.author.username%></a></span>
                </div>
            </div>
        </div>
        <div class="d-none d-sm-inline col-sm-2 col-lg-1 text-center">
            <div class="row">
                <div class="col-12">26</div>
                <div class="col-12 postNum">POSTS</div>
            </div>
        </div>
        <div class="d-none d-sm-inline col-sm-2 col-lg-1 text-center">
            <div class="row">
                <div class="col-12">260</div>
                <div class="col-12 viewsNum">VIEWS</div>
            </div>
        </div>
    </div>
    <% } %>

    <div class="container mt-3">
        <form id="newTopic" action="" method="post">
            <div class="row align-items-center">
                <input class="col text-center" type="text" id="titleInput" name="title" placeholder="Enter your topic title here..">
            </div>
            <textarea name="mytextarea" id="mytextarea" placeholder="Type your reply here">
            </textarea>
                <div class="text-center my-2">
                    <button class="btn btn-info mx-3" type="submit">Submit</button>
                    <button class="btn btn-secondary mx-3" id="discardTopic">Discard</button>
                </div>
        </form>
    </div>


</div>


