<% layout ('layouts/not-found-boilerplate') %>

<div class="sc-404-mainbox container">
    <div class="row no-gutters justify-content-center align-items-center">
        <div class="err col-auto">4</div>
        <i class="far fa-question-circle fa-spin col-auto mx-3"></i>
        <div class="err2 col-auto">4</div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="msg text-center col">Oops! The page you requested was not found!</p></div>
    </div>
    <div class="row justify-content-center align-items-center">
        <a href="/" class="btn btn-outline-info col-auto">Home</a>
    </div>
</div>
