<% layout ('layouts/change-pass-boilerplate') %>


<div class="container mt-3">
    <div id="passChangeDir" class="row ml-3 mb-5">
        <a href="/">Home</a>
        <span>&nbsp/&nbsp</span>
        <a href="user/profile">Profile</a>
        <span>&nbsp/&nbsp</span>
        <a href="user/changePassword">Change password</a>
    </div>
    <% if (error && error.length) { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%= error %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% } %>
    <% if (success && success.length) { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= success %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% } %>
    <form action="/user/changePassword?_method=PUT" method="post" id="changePassForm">
        <div class="form-group">
            <label for="current-pass">Current Password</label>
            <input type="password" class="form-control" id="current-pass"
                   name="currentPass" aria-describedby="current password" placeholder="Enter your current password" required>
        </div>
        <div class="form-group">
            <label for="pwd">New password</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter your new password" name="newPass">
            <div class="invalid-feedback">
                The password you entered is too short! Please pick an different one.
            </div>
            <small class="form-text text-muted">Your password's length must be at least 6 characters.</small>
        </div>
        <div class="form-group">
            <label for="confpass">Confirm Password</label>
            <input type="password" class="form-control" id="confpass" placeholder="Confirm your new password">
            <div class="valid-feedback">
                Passwords match!
            </div>
            <div class="invalid-feedback">
                Passwords must match!
            </div>
        </div>
        <div class="row">
            <div class="col text-center mt-3">
                <button type="submit" id="submitBtn" class="btn btn-primary">Change Password</button>
            </div>
        </div>
    </form>
</div>
