<% layout ('layouts/posts-boilerplate') %>


<div id="posts-container" class="container mt-3">
    <div id="postsDir" class="row ml-3 mb-5">
        <a href="/">Home</a>
        <span>&nbsp/&nbsp</span>
        <a href="/">Categories</a>
        <span>&nbsp/&nbsp</span>
        <a href="/categories/<%=category._id%>"><%=category.title%></a>
    </div>
    <% if (error && error.length) { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%= error %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% } %>
    <% if (success && success.length) { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= success %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% } %>

    <div class="row align-items-center mb-3">
        <h3 class="ml-4 mb-3 col" id="topicTitle">
            <strong><%=topic.title%></strong>
        </h3>
        <%if (currentUser) { %>
            <div class="col text-right mr-5">
                <button class="btn btn-info replyBtn gen" data-toggle="modal" data-target="#postModal">
                    Reply
                </button>
            </div>
        <% } %>
    </div>

    <% for (let [index,post] of topic.posts.entries()) { %>
        <div class="row ml-3 mb-3 post py-2">
            <div class="d-none d-sm-inline col-sm-2 col-lg-1">
                <a href="#">
                    <img class="post-img" src="/user/<%=post.author._id%>/profilePic" alt="">
                </a>
            </div>
            <div class="col-sm-10 col-lg-11">
                <div class="row justify-content-around align-items-center">
                    <div class="col mb-2">
                        <a href="/user/profile/<%=post.author._id%>"><%=post.author.username%></a>
                    </div>
                    <div class="col mb-2 text-right mr-3 date-text">
                        <%= new Intl.DateTimeFormat('en-GB', { dateStyle: 'full'}).format(post.date)%>
                    </div>
                </div>
                <div class="row ml-1">
                    <div class="col-12 postDes">
                        <%-post.content%>
                    </div>
                </div>
                <hr class="mr-4">
                <div class="row float-right mr-5 mb-2">
                    <% if (currentUser) { %>
                        <% if (post.author.equals(currentUser._id)) { %>
                        <span>
                            <button class="mr-4 btn btn-info editBtn" id="<%=post._id%>"
                                    data-toggle="modal" data-target="#postModal">
                                Edit
                            </button>
                            <% if (index!==0) { %>
                            <button class="mr-4 btn btn-danger deleteBtn" id="<%=post._id%>"
                                    data-toggle="modal" data-target="#deleteModal">
                                Delete
                            </button>
                            <% } %>
                        </span>
                        <% } else { %>
                        <span>
                            <button class="mr-4 btn btn-info replyBtn" id="<%=post._id%>"
                                    data-toggle="modal" data-target="#postModal">
                                Reply
                            </button>
                        </span>
                        <% } %>
                        <%if (post.likes.includes(currentUser._id)) { %>
                        <span class="likeBtn clicked">
                            <i class="far fa-thumbs-up mx-2"></i>
                        </span>
                    <% } else { %>
                        <span class="likeBtn">
                            <i class="far fa-thumbs-up mx-2"></i>
                        </span>
                    <% } %>

                        <span class="likesNum" id="<%=post._id%>"><%=post.likes.length%></span>
                    <% } else { %>
                            <span>
                                <a href="/user/login" class="mr-4">Login to reply</a>
                            </span>
                            <span class="likeBtn guestLike">
                                <i class="far fa-thumbs-up mx-2"></i>
                            </span>
                            <span class="likesNum" id="<%=post._id%>"><%=post.likes.length%></span>
                    <% } %>
                </div>
            </div>
        </div>
    <% } %>


    <% if (currentUser) { %>
    <div class="modal fade" id="postModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <form action="/categories/<%=category._id%>/<%=topic._id%>/" method="post" id="editForm">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeXBtnPost">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <textarea name="content" id="content">
                        </textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="postFormClose" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="postFormSubmitBtn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Are you sure you want to delete your post?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form action="/categories/<%=category._id%>/<%=topic._id%>/" method="post" id="deletePostForm">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="pdfModal" tabindex="-1" role="dialog" aria-labelledby="pdfModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form action="/" method="post" enctype="multipart/form-data" id="pdfUploadForm">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Upload pdf</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeXBtnPfd">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Upload</span>
                            </div>
                            <div class="custom-file">
                                <input type="file" name="pdfPath" class="custom-file-input"
                                       id="pdfPath" accept="application/pdf" required>
                                <label class="custom-file-label" for="image" id="pdfFileName">Choose PDF file</label>
                            </div>
                        </div>
                        <div class="small text-muted" id="pdfDes">
                            Your pdf file must be less than 50MB.
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="uploadPdfBtn">Upload Pdf</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="jsonModal" tabindex="-1" role="dialog" aria-labelledby="jsonModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form action="/" method="post" enctype="multipart/form-data" id="jsonUploadForm">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Upload your XR tutorial JSON file</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeXBtnPfd">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Upload</span>
                            </div>
                            <div class="custom-file">
                                <input type="file" name="jsonPath" class="custom-file-input"
                                       id="jsonPath" accept="application/JSON" required>
                                <label class="custom-file-label" for="jsonPath" id="jsonFileName">Choose JSON file</label>
                            </div>
                        </div>
                        <div class="small text-muted" id="jsonDes">
                            Your JSON file must be less than 10MB.
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="uploadJsonBtn">Upload JSON</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="zipModal" tabindex="-1" role="dialog" aria-labelledby="zipModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form action="/" method="post" enctype="multipart/form-data" id="zipUploadForm">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Upload your zip file</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeXBtnPfd">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Upload</span>
                            </div>
                            <div class="custom-file">
                                <input type="file" name="zipPath" class="custom-file-input"
                                       id="zipPath" accept=".zip,.rar,.7zip" required>
                                <label class="custom-file-label" for="jsonPath" id="zipFileName">Choose zip file</label>
                            </div>
                        </div>
                        <div class="small text-muted" id="zipDes">
                            Your zip file must be less than 200MB.
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="uploadZipBtn">Upload zip file</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <% } %>






</div>

