<% layout ('layouts/recent-boilerplate') %>


<div id="topics-container" class="container mt-3">
    <div id="topicDir" class="row ml-3 mb-5">
        <a href="/">Home</a>
        <span>&nbsp/&nbsp</span>
        <a href="/categories/recent">Recent Topics</a>
    </div>
    <!--    TOPICS -->
    <% for (let topic of topics) { %>
    <div class="row ml-3 mb-3 topic">
        <div class="d-none d-sm-inline col-sm-2 col-lg-1">
            <a href="/user/profile/<%=topic.author._id%>">
                <img class="topic-img" src="/user/<%=topic.author._id%>/profilePic" alt="topic image">
            </a>
        </div>
        <div class="col-sm-6 col-lg-9">
            <div class="row">
                <div class="col-12"><a href="/categories/<%=topic.category%>/<%=topic._id%>"><%=topic.title%></a>
                </div>
                <div class="col-12 topicDes text-muted">
                        <span class="date">
                            <%= new Intl.DateTimeFormat('en-GB', { dateStyle: 'full'}).format(topic.date)%>
                        </span>
                    <span>&nbsp•&nbsp</span>
                    <span class="username"><a href="/user/profile/<%=topic.author._id%>">
                                <%=topic.author.username%></a>
                        </span>
                </div>
            </div>
        </div>
        <div class="d-none d-sm-inline col-sm-2 col-lg-1 text-center">
            <div class="row">
                <div class="col-12"><%=topic.posts.length%></div>
                <div class="col-12 postNum">POSTS</div>
            </div>
        </div>
        <div class="d-none d-sm-inline col-sm-2 col-lg-1 text-center">
            <div class="row">
                <div class="col-12"><%=topic.views%></div>
                <div class="col-12 viewsNum">VIEWS</div>
            </div>
        </div>
    </div>
    <% } %>

</div>


