<% layout ('layouts/register-boilerplate') %>


<div class="container mt-3">
    <div id="regDir" class="row ml-3 mb-5">
        <a href="#">Home</a>
        <span>&nbsp/&nbsp</span>
        <a href="#">Register</a>
    </div>
    <% if (error && error.length) { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%= error %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% } %>

    <form action="/user/register" method="post" novalidate id="registrationForm">
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="email"
                  name="email" placeholder="Enter a valid email address" required>
            <div class="invalid-feedback">
                Please enter a valid email address.
            </div>
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username"
                  name="username" aria-describedby="username" placeholder="Enter your username" required>
            <div class="invalid-feedback">
                Please enter a username.
            </div>
        </div>
        <div class="form-group">
            <label for="pwd">Password</label>
            <input type="password" class="form-control" id="pwd" name="password"
                  placeholder="Enter your password" required>
            <div class="invalid-feedback">
                The password you entered is too short! Please pick an different one.
            </div>
            <small class="form-text text-muted">Your password's length must be at least 6 characters.</small>
        </div>
        <div class="form-group">
            <label for="confpass">Confirm Password</label>
            <input type="password" class="form-control" id="confpass"
                   placeholder="Confirm your password" name="confpass" required>
            <div class="valid-feedback">
                Passwords match!
            </div>
            <div class="invalid-feedback">
                Passwords must match!
            </div>
        </div>
        <div class="g-recaptcha" data-sitekey="6LejnaIaAAAAALMaxkpfNCwFYVmZpTmHwuyxfnYP"></div>
        <div class="row">
            <div class="col text-center mt-3">
                <button type="submit" id="regBtn" class="btn btn-primary" disabled>Register Now</button>
            </div>
        </div>
    </form>
</div>
