<% layout ('layouts/reset-done-boilerplate') %>


<div class="container mt-3">
    <div id="resetDir" class="row ml-3 mb-5">
        <a href="/">Home</a>
        <span>&nbsp/&nbsp</span>
        <a href="#">Reset Password</a>
    </div>

    <form action='/user/reset/<%=user.resetPasswordToken%>?_method=PUT' class="w-75" method="post" id="resetPassForm">
        <div class="form-group">
            <label for="pwd">New Password</label>
            <input type="password" class="form-control" id="pwd" name="password"
                   placeholder="Enter your new password" required>
            <div class="invalid-feedback">
                The password you entered is too short! Please pick an different one.
            </div>
            <small class="form-text text-muted">Your password's length must be at least 6 characters.</small>
        </div>
        <div class="form-group">
            <label for="confpass">Confirm Password</label>
            <input type="password" class="form-control" id="confpass"
                   placeholder="Confirm your new password" name="confpass" required>
            <div class="valid-feedback">
                Passwords match!
            </div>
            <div class="invalid-feedback">
                Passwords must match!
            </div>
        </div>
        <button type="submit" class="btn btn-primary" id="resetBtn">Change Password</button>
    </form>
</div>
