<% layout ('layouts/reset-pass-boilerplate') %>


<div class="container mt-3">
    <div id="resetDir" class="row ml-3 mb-5">
        <a href="/">Home</a>
        <span>&nbsp/&nbsp</span>
        <a href="#">Reset Password</a>
    </div>
    <% if (error && error.length) { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%= error %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% } %>

    <form action="/user/resetPassword?_method=PUT" class="mt-5 w-75 text-center" method="post">
        <div class="form-group">
            <label for="email">Please enter your email address and we will send you an email with instructions on how to reset your account.
            </label>
            <input type="email" class="form-control" id="email" name="email"
                   aria-describedby="emailHelp" placeholder="Your email Address" required>
        </div>
        <button type="submit" class="btn btn-primary" id="resetBtn">Reset Password</button>

    </form>

</div>
