<% layout ('layouts/search-results-boilerplate') %>


<div id="search-container" class="container mt-3">
    <div id="searchDir" class="row ml-3 mb-5">
        <a href="/">Home</a>
        <span>&nbsp/&nbsp</span>
        <a href="/search">Search</a>
        <span>&nbsp/&nbsp</span>
        <a href="#">Search Results</a>
    </div>

    <%if (question) {%>

    <div class="row align-items-center">
        <div class="col searchTermTxt" >
            Question: <span id="questionTxt"><%=question%></span>
        </div>
    </div>
    <div class="text-danger my-3">
        The current functionality is under construction.
    </div>


    <% } %>



</div>




