<% layout ('layouts/search-results-boilerplate') %>

<!--Categories menu start-->
<div id="search-container" class="container mt-3">
    <div id="searchDir" class="row ml-3 mb-5">
        <a href="/">Home</a>
        <span>&nbsp/&nbsp</span>
        <a href="/search">Search</a>
        <span>&nbsp/&nbsp</span>
        <a href="#">Search Results</a>
    </div>

    <%if (searchTerm) {%>

        <div class="row align-items-center">
            <div class="col searchTermTxt" >
                Search term: <span id="searchTxt"><%=searchTerm%></span>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col searchTermTxt" >
                <% if ((foundCategories.length)!==0 && (foundTopics.length)!==0) { %>
                    Found <%=foundCategories.length%> categories and <%=foundTopics.length%> topics
                <%} else if ((foundTopics.length)!==0) { %>
                    <% if (foundTopics.length===1) { %>
                        Found 1 topic
                    <%} else { %>
                        Found <%=foundTopics.length%> topics <% } %>
                <%} else if ((foundCategories.length)!==0) { %>
                    <% if (foundCategories.length===1) { %>
                        Found 1 category
                    <%} else { %>
                    Found <%=foundCategories.length%> categories<% } %>
                <%} else { %>
                    We are sorry but we could not find any results
                <% } %>
            </div>
        </div>

        <div class="row my-3">
            <%for (let cat of foundCategories) { %>
                <div class="col-6 text-center">
                    <a href="/categories/<%=cat._id%>"><%=cat.title%></a>
                </div>
            <% } %>
        </div>
        <div class="row">
            <%for (let topic of foundTopics) { %>
            <div class="col-6 text-center">
                <a href="/categories/<%=topic.category%>/<%=topic._id%>"><%=topic.title%></a>
            </div>
            <% } %>
        </div>

    <% } %>



</div>




