<% layout ('layouts/search-boilerplate') %>

<!--Categories menu start-->
<div id="search-container" class="container mt-3">
    <div id="searchDir" class="row ml-3 mb-5">
        <a href="/">Home</a>
        <span>&nbsp/&nbsp</span>
        <a href="/search">Search</a>
    </div>

    <div class="row justify-content-center">
        <svg xmlns="http://www.w3.org/2000/svg" style="display:none">
            <symbol xmlns="http://www.w3.org/2000/svg" id="sbx-icon-search-10" viewBox="0 0 40 40">
                <path d="M15.643 31.285c8.64 0 15.642-7.003 15.642-15.642C31.285 7.003 24.282 0 15.643 0 7.003 0 0 7.003 0 15.643s7.003 15.642 15.643 15.642zm0-3.91c6.48 0 11.732-5.253 11.732-11.732 0-6.48-5.253-11.732-11.732-11.732-6.48 0-11.732 5.253-11.732 11.733s5.253 11.732 11.733 11.732zm12.605 4.192c-.914-.915-.92-2.393.004-3.315.916-.917 2.402-.917 3.315-.004l7.75 7.75c.913.914.918 2.392-.004 3.315-.917.916-2.403.916-3.316.003l-7.75-7.75zm-9.92-25.05c-5.26-1.213-10.51 2.067-11.725 7.328-.146.63.248 1.26.88 1.407.63.146 1.26-.248 1.406-.88.923-3.998 4.912-6.49 8.91-5.568.632.146 1.262-.247 1.408-.88.145-.63-.248-1.26-.88-1.406z"
                      fill-rule="evenodd" />
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="sbx-icon-clear-5" viewBox="0 0 20 20">
                <path d="M10 20c5.523 0 10-4.477 10-10S15.523 0 10 0 0 4.477 0 10s4.477 10 10 10zm1.35-10.123l3.567 3.568-1.225 1.226-3.57-3.568-3.567 3.57-1.226-1.227 3.568-3.568-3.57-3.57 1.227-1.224 3.568 3.568 3.57-3.567 1.224 1.225-3.568 3.57zM10 18.272c4.568 0 8.272-3.704 8.272-8.272S14.568 1.728 10 1.728 1.728 5.432 1.728 10 5.432 18.272 10 18.272z"
                      fill-rule="evenodd" />
            </symbol>
        </svg>

        <form action="/search/searchTerm" id="searchForm" name="searchForm" method="post" novalidate="novalidate" class="searchbox sbx-custom">
            <div role="search" class="sbx-custom__wrapper">
                <input value="<%=searchTerm%>" type="search" name="searchTerm"
                       placeholder="Enter your search term" autocomplete="off" required="required" class="sbx-custom__input container dropdown">
                <button type="submit" title="Submit your search query" class="sbx-custom__submit">
                    <svg role="img" aria-label="Search">
                        <use xlink:href="#sbx-icon-search-10"></use>
                    </svg>
                </button>
                <button type="reset" title="Clear the search query." class="sbx-custom__reset">
                    <svg role="img" aria-label="Reset">
                        <use xlink:href="#sbx-icon-clear-5"></use>
                    </svg>
                </button>
            </div>
            <div class="row justify-content-center my-2">
                <button type="submit" class="btn btn-outline-info">Search</button>
            </div>
        </form>
    </div>

    <div class="row justify-content-center my-5" id="orTxt">
        Or enter a question and we will search in our database to find the answer.
    </div>

    <div class="row justify-content-center">
        <svg xmlns="http://www.w3.org/2000/svg" style="display:none">
            <symbol xmlns="http://www.w3.org/2000/svg" id="sbx-icon-search-10" viewBox="0 0 40 40">
                <path d="M15.643 31.285c8.64 0 15.642-7.003 15.642-15.642C31.285 7.003 24.282 0 15.643 0 7.003 0 0 7.003 0 15.643s7.003 15.642 15.643 15.642zm0-3.91c6.48 0 11.732-5.253 11.732-11.732 0-6.48-5.253-11.732-11.732-11.732-6.48 0-11.732 5.253-11.732 11.733s5.253 11.732 11.733 11.732zm12.605 4.192c-.914-.915-.92-2.393.004-3.315.916-.917 2.402-.917 3.315-.004l7.75 7.75c.913.914.918 2.392-.004 3.315-.917.916-2.403.916-3.316.003l-7.75-7.75zm-9.92-25.05c-5.26-1.213-10.51 2.067-11.725 7.328-.146.63.248 1.26.88 1.407.63.146 1.26-.248 1.406-.88.923-3.998 4.912-6.49 8.91-5.568.632.146 1.262-.247 1.408-.88.145-.63-.248-1.26-.88-1.406z"
                      fill-rule="evenodd" />
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="sbx-icon-clear-5" viewBox="0 0 20 20">
                <path d="M10 20c5.523 0 10-4.477 10-10S15.523 0 10 0 0 4.477 0 10s4.477 10 10 10zm1.35-10.123l3.567 3.568-1.225 1.226-3.57-3.568-3.567 3.57-1.226-1.227 3.568-3.568-3.57-3.57 1.227-1.224 3.568 3.568 3.57-3.567 1.224 1.225-3.568 3.57zM10 18.272c4.568 0 8.272-3.704 8.272-8.272S14.568 1.728 10 1.728 1.728 5.432 1.728 10 5.432 18.272 10 18.272z"
                      fill-rule="evenodd" />
            </symbol>
        </svg>

        <form action="/search/question" id="questionForm" name="searchForm" method="post" novalidate="novalidate" class="searchbox sbx-custom">
            <div role="search" class="sbx-custom__wrapper">
                <input type="search" name="question"
                       placeholder="Enter your question" autocomplete="off" required="required" class="sbx-custom__input container dropdown">
                <button type="submit" title="Submit your search query" class="sbx-custom__submit">
                    <svg role="img" aria-label="Search">
                        <use xlink:href="#sbx-icon-search-10"></use>
                    </svg>
                </button>
                <button type="reset" title="Clear the search query." class="sbx-custom__reset">
                    <svg role="img" aria-label="Reset">
                        <use xlink:href="#sbx-icon-clear-5"></use>
                    </svg>
                </button>
            </div>
            <div class="row justify-content-center my-2">
                <button type="submit" class="btn btn-outline-info">Ask</button>
            </div>
        </form>
    </div>


</div>




