<% layout ('layouts/boilerplate-topics') %>


<div id="topics-container" class="container mt-3">
    <div id="topicDir" class="row ml-3 mb-5">
        <a href="/">Home</a>
        <span>&nbsp/&nbsp</span>
        <a href="/categories">Categories</a>
        <span>&nbsp/&nbsp</span>
        <a href="/categories/<%=categoryId%>"><%=title%></a>
        <% if (currentUser) { %>
        <button id="newTopicBtn" class="btn ml-auto mr-4 text-white" data-toggle="modal" data-target="#topicModal">
            New topic
        </button>
        <% } %>
    </div>
    <!--    TOPICS-->
    <% for (let topic of topics) { %>
        <div class="row ml-3 mb-3 topic">
            <div class="d-none d-sm-inline col-sm-2 col-lg-1">
                <a href="/user/profile/<%=topic.author._id%>">
                    <img class="topic-img" src="/user/<%=topic.author._id%>/profilePic" alt="topic image">
                </a>
            </div>
            <div class="col-sm-6 col-lg-9">
                <div class="row">
                    <div class="col-12"><a href="/categories/<%=categoryId%>/<%=topic._id%>"><%=topic.title%></a>
                        <% if (currentUser && topic.author.equals(currentUser._id)) { %>
                        <div id="<%=topic._id%>" name="<%=topic.title%>" class="btn btn-danger ml-3 deleteTopicBtn"
                             data-toggle="modal" data-target="#deleteModal">
                            Delete
                        </div>
                        <% } %>
                    </div>
                    <div class="col-12 topicDes text-muted">
                        <span class="date">
                            <%= new Intl.DateTimeFormat('en-GB', { dateStyle: 'full'}).format(topic.date)%>
                        </span>
                        <span>&nbsp•&nbsp</span>
                        <span class="username"><a href="/user/profile/<%=topic.author._id%>">
                                <%=topic.author.username%></a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="d-none d-sm-inline col-sm-2 col-lg-1 text-center">
                <div class="row">
                    <div class="col-12"><%=topic.posts.length%></div>
                    <div class="col-12 postNum">POSTS</div>
                </div>
            </div>
            <div class="d-none d-sm-inline col-sm-2 col-lg-1 text-center">
                <div class="row">
                    <div class="col-12"><%=topic.views%></div>
                    <div class="col-12 viewsNum">VIEWS</div>
                </div>
            </div>
        </div>
    <% } %>

    <% if (currentUser) { %>

    <div class="modal fade" id="topicModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <form action="/categories/<%=categoryId%>/new-topic/" method="post" id="editForm">
                    <div class="modal-header">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Topic Title:</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Enter your topic title here.."
                                   aria-label="Username" aria-describedby="basic-addon1"
                                   name="title" id="titleInput" maxlength="55" required>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeXBtnPost">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="text-danger text-center small d-none" id="titleOutOfRange">
                        Topic title must contain less than 55 characters!
                    </div>
                    <div class="modal-body">
                        <textarea name="content" id="content" required>
                        </textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="postFormClose" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="topicFormSubmitBtn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Are you sure you want to delete topic:</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body deleteTopicModal">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <form action="/categories/<%=categoryId%>/" method="post" id="deleteTopicForm">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    <div class="modal fade" id="pdfModal" tabindex="-1" role="dialog" aria-labelledby="pdfModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form action="/" method="post" enctype="multipart/form-data" id="pdfUploadForm">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Upload pdf</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeXBtnPfd">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Upload</span>
                            </div>
                            <div class="custom-file">
                                <input type="file" name="pdfPath" class="custom-file-input"
                                       id="pdfPath" accept="application/pdf" required>
                                <label class="custom-file-label" for="image" id="pdfFileName">Choose PDF file</label>
                            </div>
                        </div>
                        <div class="small text-muted" id="pdfDes">
                            Your pdf file must be less than 50MB.
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="uploadPdfBtn">Upload Pdf</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="jsonModal" tabindex="-1" role="dialog" aria-labelledby="jsonModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form action="/" method="post" enctype="multipart/form-data" id="jsonUploadForm">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Upload your XR tutorial JSON file</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeXBtnPfd">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Upload</span>
                            </div>
                            <div class="custom-file">
                                <input type="file" name="jsonPath" class="custom-file-input"
                                       id="jsonPath" accept="application/JSON" required>
                                <label class="custom-file-label" for="jsonPath" id="jsonFileName">Choose JSON file</label>
                            </div>
                        </div>
                        <div class="small text-muted" id="jsonDes">
                            Your JSON file must be less than 10MB.
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="uploadJsonBtn">Upload JSON</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="zipModal" tabindex="-1" role="dialog" aria-labelledby="zipModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form action="/" method="post" enctype="multipart/form-data" id="zipUploadForm">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Upload your zip file</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeXBtnPfd">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Upload</span>
                            </div>
                            <div class="custom-file">
                                <input type="file" name="zipPath" class="custom-file-input"
                                       id="zipPath" accept=".zip,.rar,.7zip" required>
                                <label class="custom-file-label" for="jsonPath" id="zipFileName">Choose zip file</label>
                            </div>
                        </div>
                        <div class="small text-muted" id="zipDes">
                            Your zip file must be less than 200MB.
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="uploadZipBtn">Upload zip file</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <% } %>


</div>


