<% layout ('layouts/mod-boilerplate') %>

<!--Categories menu start-->
<div id="cat-container" class="container mt-3">
    <div id="catDir" class="row ml-3 mb-5">
        <a href="/">Home</a>
        <span>&nbsp/&nbsp</span>
        <a href="/categories">Categories</a>
    </div>
    <!--    Categories section-->
    <!--    Announcements-->
    <% for (let category of categories) {%>
    <div class="row ml-3 mb-3 category">
        <div class="d-none d-sm-inline col-sm-2 col-lg-1"><a href="/categories/<%=category._id%>">
                <i class="<%=category.icon%> catIcon"></i></a>
        </div>
        <div class="col-sm-6 col-lg-9">
            <div class="row">
                <div class="col-12"><a href="/categories/<%=category._id%>"><%=category.title%></a>
                    <div id="<%=category._id%>" name="<%=category.title%>" class="btn btn-danger ml-3 deleteCat" data-toggle="modal" data-target="#deleteModal">
                        Delete
                    </div>
                </div>
                <div class="col-12 catDescription"><%=category.description%></div>
            </div>
        </div>
        <div class="d-none d-sm-inline col-sm-2 col-lg-1 text-center">
            <div class="row">
                <div class="col-12">0</div>
                <div class="col-12 topicText">TOPICS</div>
            </div>
        </div>
        <div class="d-none d-sm-inline col-sm-2 col-lg-1 text-center">
            <div class="row">
                <div class="col-12">0</div>
                <div class="col-12 postText">POSTS</div>
            </div>
        </div>
    </div>
    <% } %>
    <div class="row">
        <button id="newCatBtn" class="btn mx-5 my-4">New category</button>
    </div>

    <div class="row justify-content-center">
        <form action="/admin/categories/new" id="newCatForm" class="p-4 w-75 d-none" method="post">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="catTitle">Title</span>
                </div>
                <input type="text" class="form-control" placeholder="Enter the category title"  name="category[title]"
                       aria-label="category title" aria-describedby="catTitle" required>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Description</span>
                </div>
                <textarea class="form-control" name="category[description]" placeholder="Enter a short category description"></textarea>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="catIcon">Icon</span>
                </div>
                <input type="text" name="category[icon]" class="form-control" placeholder="Category icon"
                       aria-label="category title" aria-describedby="catIcon" value="fab fa-acquisitions-incorporated">
            </div>
            <div class="mt-3">
                <button type="submit" id="newCatSubmit" class="btn btn-primary">Add category</button>
                <button type="reset" id="cancelBtn" class="btn">Cancel</button>
            </div>
        </form>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Are you sure you want to delete category:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form action="/admin/categories/" method="post" id="deleteCatForm">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>




