<% layout ('layouts/profile-boilerplate') %>

<div class="container my-5 text-center" id="profileContainer">
    <img src="/user/<%=user._id%>/profilePic" alt="Profile photo" id="profilePic">
    <div class="mt-3">
        <h2 class="text-muted"><%=user.username%></h2>
        <div class="row">
            <div class="col-12 display-4"><%=user.postsNum%></div>
            <div class="col-12">POSTS</div>
        </div>
        <div class="row mt-3 text-muted">
            <div class="col" id="memberSince">
                Member since: <%= new Intl.DateTimeFormat('en-GB', { dateStyle: 'full'}).format(user.memberSince)%>
            </div>
        </div>
    </div>
</div>
