
#users-container{
    font-family: 'Noto Sans JP', sans-serif;
}

.topic{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
}


#users-container a{
    color: #23a6ad;
}

.user-img {
    display: inline-block;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

#users-container a:hover{
    text-decoration: none;
    color: #f49019;
}



