
#catDir{
    font-family: 'Noto Sans JP', sans-serif;
}

.category{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
}

#cat-container a{
    color: #23a6ad;
}

.catIcon {
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
    background-color: #F5CAC3;
    color: #84a59d;
    font-size: 1.5rem;
    margin-right: 1rem;
    width: 3.2rem;
    text-align: center;
}

.catDescription{
    font-size: 0.8rem;
}

.postText , .topicText{
    font-size: 0.8rem;
}

#cat-container a:hover{
    text-decoration: none;
    color: #f49019;
}


