#loginBtn{
    background-color: #84A59D;
    border-color: #84A59D;
}

#loginLogo{
    height: 10rem;
}

#loginContainer{
    width: 25rem;
}

#forgotPass{
    color: #84A59D;
    font-size: 0.8rem;
}

@media only screen
and (max-width : 540px) {
    #loginLogo {
        height: 5rem;
    }
}
