body{
    background-color: #f5cac3;
}

.sc-404-mainbox {
    font-family: 'Source Sans Pro', sans-serif;
}

.err, .err2{
    color: #ffffff;
    font-size: 11rem;
}

.far {
    font-size: 8.5rem;
    color: #ffffff;
}


.msg {
    font-size: 1.6rem;
}

