
#topics-container{
    font-family: 'Noto Sans JP', sans-serif;
}

.topic{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
}

#topics-container a{
    color: #23a6ad;
}

.topic-img {
    display: inline-block;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.topicDes{
    font-size: 0.8rem;
}

.viewsNum , .postNum{
    font-size: 0.8rem;
}

#topics-container a:hover{
    text-decoration: none;
    color: #f49019;
}

#newTopicBtn{
    background-color: #23a6ad;
    color: white;
}

#newTopicBtn:hover {
    background-color: #f49019;
    border-color: #f49019;
}


