
.post{
    font-size: 1.2rem;
    background-color: #F7EDE2;
    border-radius: 15px;
}

#posts-container a{
    color: #23a6ad;
}

.post-img {
    display: inline-block;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.postDes{
    font-size: 1rem;
}

.viewsNum , .postNum{
    font-size: 0.8rem;
}

#posts-container a:hover{
    text-decoration: none;
    color: #f49019;
}

.date-text{
    color: #5a6268;
    font-size: 1rem;
}

.fa-thumbs-up:hover{
    color:#f38f18;
}

.guestLike:hover{
    pointer-events: none;
}

#topicTitle{
    font-family: 'Noto Sans JP', sans-serif;
}

.clicked{
    color:#f38f18;
}

.editBtn:not([disabled]):hover, .replyBtn:not([disabled]):hover{
    color:#f38f18;
}


