
#profilePic{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}

#profileContainer{
    width: 25rem;
    font-family: 'Source Sans Pro', sans-serif;
}

#profileContainer a{
    color: #23a6ad;
}

#profileContainer a:hover{
    text-decoration: none;
    color: #f49019;
}

#memberSince{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.2rem;
}

@media only screen
and (max-width : 540px) {
    #profilePic {
        height: 5rem;
        width: 5rem;
    }
}
