#regDir a{
    color: #23a6ad;
}

.form-group label{
    font-weight: bold;
}

::placeholder{
    font-size: 0.8rem;
}

#regBtn{
    background-color: #23a6ad;
    border-color: #23a6ad;
}

#regBtn:hover{
    background-color: #f38f18;
    border-color: #f38f18;
}

.smallDes{

}

