#resetDir a{
    color: #23a6ad;
}


#resetBtn{
    background-color: #84A59D;
    border-color: #84A59D;
}

form{
    margin-left: auto;
    margin-right: auto;
}

label{
    font-size: 1.5em;
    color:  #84A59D;
}
