body{
    font-family: 'Noto Sans JP', sans-serif;
}

#search-container a{
    color: #23a6ad;
}

.searchTermTxt{
    color: #23a6ad;
    font-size: 1.5rem;
    font-weight: bold;
}

#questionTxt, #searchTxt{
    color: #f49019;
}
