
#topics-container{
    font-family: 'Noto Sans JP', sans-serif;
}

.topic{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
}

#topics-container a{
    color: #23a6ad;
}

.topic-img {
    display: inline-block;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.topicDes{
    font-size: 0.8rem;
}

.viewsNum , .postNum{
    font-size: 0.8rem;
}

#topics-container a:hover{
    text-decoration: none;
    color: #f49019;
}

#newTopicBtn{
    background-color: #23a6ad;
    color: white;
}

#newTopicBtn:hover {
    background-color: #f49019;
    border-color: #f49019;
}

.deleteTopicBtn{
    font-size: 0.6rem;
    padding: 0.15rem;
}

#newTopic{
    border: 1px solid #F5CAC3;
    position: absolute;
    z-index: 2;
    bottom: 0;
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
}

#newTopic #titleInput{
    font-size: 2rem;
    border: none;
}

#newTopic #titleInput:focus{
    outline: none;

}
